body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFBE9;
    color: #58473a;
    font-family: 'Roboto Slab', serif;
}

#baseball-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: fit-content;
    height: fit-content;
    padding: 3px;
}

h1 {
    font-size: 2em;
    font-weight: 700;
    margin: 0em;
    text-align: center;
    text-shadow: 0 0 10px #58473a;
}

main {
    font-size: 1em;
    padding: 0 3%;
    margin: .5em 0;
}

.pace-area {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#number-input-area {
    width: 3em;
    height: 1.3em;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    resize: none;
}

textarea {
    outline: none !important;
    border: 2px solid #58473a;
    transition: .3s ease;
    border-radius: 5px;
}

textarea:focus {
    box-shadow: 0 0 10px #58473a;
}

#pace-results {
    padding: 0;
    margin: 0;
}


h2 {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0 0 10px 0;
    text-align: center;
    text-shadow: 0 0 5px #58473a;
}

#baseball {
    display: none;
    flex-direction: column;
    gap: 0;
    padding: 3px;
    margin: 5px;
    border: solid 2px #58473a;
    border-radius: 5px;
}

/* .baseball-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

#x-out {
    position: relative;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    width: fit-content;
    height: fit-content;
    margin: 0px 5px 0 0;
    cursor: pointer;
}

.baseball-inner {
    display: flex;
}

.baseball-inner>p {
    padding: 2px;
    margin: 5px;
}

button {
    background-color: #58473a;
    color: #FFFBE9;
    width: 100px;
    height: 30px;
    padding: 1px;
    font-size: .8em;
    border-radius: 5px;
    cursor: pointer;
}

.or-area {
    padding: 0;
    margin: 0 0 0 7px;
}

#stat-input-area,
#games-input-area,
#wins-input-area,
#losses-input-area {
    width: 90px;
    height: 1.3em;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    resize: none;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .8em;
    margin-bottom: .25em;
}

a {
    color: #58473a;
}

.profile-pic {
    width: 3em;
    height: 3em;
}

/*tablet query*/
@media only screen and (min-width: 768px) {

    h1 {
        font-size: 2.25em;
    }

    main {
        font-size: 1.25em;
        padding: 0 8%;
    }

    .pace-area {
        flex-direction: row;
    }

    footer {
        flex-direction: row;
        margin-top: 1.25em;
        font-size: .9em;
    }

    .profile-pic {
        width: 3.5em;
        height: 3.5em;
    }
}

/*desktop query*/
@media only screen and (min-width: 992px) {

    h1 {
        font-size: 2.75em;
    }

    main {
        font-size: 1.5em;
        padding: 0 12%;
    }

    footer {
        font-size: 1em;
    }

    .profile-pic {
        width: 3.75em;
        height: 3.75em;
    }
}