#number-input-area {
    width: 3em;
    height: 1.3em;
    font-size: 1.5em;
    resize: none;
}

.pace-area {
    display: flex;
    flex-direction: row;
    gap: 1em;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .8em;
    margin-bottom: .25em;
}

.profile-pic {
    width: 3em;
    height: 3em;
}

/*tablet query*/
@media only screen and (min-width: 768px) {

    footer {
        flex-direction: row;
        margin-top: 1.25em;
        font-size: .9em;
    }

    .profile-pic {
        width: 3.5em;
        height: 3.5em;
    }
}

/*desktop query*/
@media only screen and (min-width: 992px) {
    footer {
        font-size: 1em;
    }

    .profile-pic {
        width: 3.75em;
        height: 3.75em;
    }
}