body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFBE9;
    color: #58473a;
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-size: 2em;
    font-weight: 700;
    margin: 0em;
    text-align: center;
    text-shadow: 0 0 10px #58473a;
}

main {
    font-size: 1em;
    padding: 0 3%;
    margin: .5em 0;
}

.pace-area {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#number-input-area {
    width: 3em;
    height: 1.3em;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    resize: none;
}

textarea {
    outline: none !important;
    border: 2px solid #58473a;
    transition: .3s ease;
    border-radius: 5px;
}

textarea:focus {
    box-shadow: 0 0 10px #58473a;
}

#pace-results {
    padding: 0;
    margin: 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .8em;
    margin-bottom: .25em;
}

a {
    color: #58473a;
}

.profile-pic {
    width: 3em;
    height: 3em;
}

/*tablet query*/
@media only screen and (min-width: 768px) {

    h1 {
        font-size: 2.25em;
    }

    main {
        font-size: 1.25em;
        padding: 0 8%;
    }

    .pace-area {
        flex-direction: row;
    }

    footer {
        flex-direction: row;
        margin-top: 1.25em;
        font-size: .9em;
    }

    .profile-pic {
        width: 3.5em;
        height: 3.5em;
    }
}

/*desktop query*/
@media only screen and (min-width: 992px) {

    h1 {
        font-size: 2.75em;
    }

    main {
        font-size: 1.5em;
        padding: 0 12%;
    }

    footer {
        font-size: 1em;
    }

    .profile-pic {
        width: 3.75em;
        height: 3.75em;
    }
}